name: CMake pipeline for Windows build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:


env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |

          python -m pip install --upgrade pip
          pip install pyinstaller PyQt5 colorama pyqtgraph

      - name: Create build directories
        run: |
          mkdir build
          mkdir dist

      - name: Build executable with PyInstaller
        run: |
          pyinstaller --onefile --noconsole frontend.py --name "Mental-Health-Tracker"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mental-health-tracker-windows-dist
          path: dist/
