name: CMake pipeline for Windows build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:


env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          sudo apt install -y \
            libxcb1 \
            libxcb-xinerama0 \
            libxcb-cursor0 \
            libxkbcommon-x11-0 \
            libx11-xcb1 \
            libxcb-render0 \
            libxcb-shape0 \
            libxcb-randr0 \
            libxcb-icccm4 \
            libxcb-keysyms1


          python -m pip install --upgrade pip
          pip install pyinstaller PyQt5 colorama pyqtgraph

      - name: Build executable with PyInstaller
        run: |
          pyinstaller --onefile --noconsole frontend.py --name "Mental Health Tracker"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mental-health-tracker-windows-dist
          path: dist/
